<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="/login">Iniciar Sesion</a>
            </li>
            <li>
                <a href="/seleccionar_piso">crear reporte</a>
            </li>
            <li>
                <a href="/reportes">lista de reportes</a>
            </li>
            <li>
                <a href="{% url 'piso-1' %}" class="button">Ir a piso -1</a>
            </li>
            <li>
                <a href="{% url 'piso1' %}" class="button">Ir a piso 1</a>
            </li>
            <li>
                <a href="{% url 'piso2' %}" class="button">Ir a piso 2</a>
            </li>           
        </ul>
    </nav>
    <footer>
        <p>Biblioteca Nacional</p>
    </footer>
    {% block content%}
    {% endblock %}
    <title>Home</title>
    
</body>
</html>
