    <nav>
        <ul>
            <li>
                <a href="/signup">cuenta</a>
            </li>
            <li>
                <a href="/crear_reporte">crear reporte</a>
            </li>
            <li>
                <a href="/reportes">lista de reportes</a>
            </li>
            <li>
                <a href="{% url 'piso-1' %}" class?"button">Ir a piso -1</a>
            </li>
            <li>
                <a href="{% url 'piso1' %}" class?"button">Ir a piso 1</a>
            </li>
            <li>
                <a href="{% url 'piso2' %}" class?"button">Ir a piso 2</a>
            </li>
            <li>
                <a href="{% url 'piso3' %}" class?"button">Ir a piso 3</a>
            </li>
            <li>
                <a href="{% url 'piso4' %}" class?"button">Ir a piso 4</a>
            </li>
            
            
        </ul>
    </nav>
    {% block content%}
    {% endblock %}