<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista Usuario</title>
    <style>
        .mensaje-emergente {
            position: fixed;
            top: 20px;
            right: 20px;
            background-color: aquamarine;
            color: white;
            padding: 15px;
            border-radius: 5px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
            z-index: 1000;
        }
    </style>
    <h1>Bienvenido, {{usuario.username}}!</h1>
</head>
<body>
    {%if reportes_nuevos > 0 %}
        <p>Desde la ultima vez que te conectaste, se han realizado {{reportes_nuevos}} reportes nuevos.</p>
    {%else%}
        <p>No se han realizado reportes desde tu última conexión</p>
    {%endif%}
    {%if reportes_completados > 0 %}
        <p>Además, {{reportes_completados}} reportes han sido completados.</p>
    {%endif%}

    {%if reportes_nuevos %}
    <div id="mensajeEmergente" class="mensaje-emergente">
        ¡Se ha hecho un nuevo reporte!
        <button onclick="ocultarMensaje()">Cerrar</button>
    </div>
    {%endif%}
    <nav>
        <ul>
            <li>
                <a href="/seleccionar_piso">Crear reporte</a>
            </li>
            <li>
                <a href="{% url 'piso-1' %}" class="button">Ir a piso -1</a>
            </li>
            <li>
                <a href="{% url 'piso1' %}" class="button">Ir a piso 1</a>
            </li>
            <li>
                <a href="{% url 'piso2' %}" class="button">Ir a piso 2</a>
            </li>
            <li>
            <a href="#" onclick="document.getElementById('logout-form').submit(); return false;">
                Cerrar Sesión
            </a>
            <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: none;">
                {% csrf_token %}
            </form>
            </li>
        </ul>
    </nav>

    <h2>Reportes pendientes</h2>
    <ul>
        {% for r in r %}
            {% if r.completado == False %}
                <li>
                    <a href="{% url 'reporte_' r.id %}">
                        <h1>{{ r.titulo }}</h1>
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <script>
        function ocultarMensaje() {
            document.getElementById('mensajeEmergente').style.display='none';
        }
    </script> 
</body>
</html>
