{% extends 'home.html' %}

{% block content%}

<h1>{{r.titulo}}</h1>

<form method="POST">
    {% csrf_token %}
    {{form.as_p}}

    <button>
        Actualizar
    </button>

</form>

{% if user.is_authenticated %}

    <form action="{% url 'completar_reporte' r.id %}" method="POST">
        {% csrf_token %}

        <button>
            Completar
        </button>
    </form>

    <form action="{% url 'borrar_reporte' r.id %}" method="POST">
        {% csrf_token %}

        <button>
            Borrar
        </button>
    </form>
{% endif %}

{% endblock %}