{% extends "mapa/basepiso.html" %}
{% load static %}
{% block header %}Mapa del piso -1{% endblock %}
{% block content %}
    <img src="{% static 'reporte/imagenes/piso-1.jpg' %}" class="mapa-imagen" alt="Mapa piso -1" id="map-image">
    <div class="button">
        <a href="{% url 'piso1' %}" class="button">Piso 1</a>
        <a href="{% url 'piso2' %}" class="button">Piso 2</a>
        {% if user.is_authenticated %}
            <a href="{% url 'postlogin' %}" class="button">Volver</a>
        {% else %}
            <a href="{% url 'home' %}" class="button">Volver</a>
        {% endif %}
    </div>
    
    <!-- Pop-up -->
    <div id="popup" style="display:none;">
        <div style="background: white; border: 1px solid black; padding: 10px; position: absolute;">
            <h2>Hacer un reporte</h2>
            <form action="{% url 'crear_reporte' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="piso" value="-1">
                <input type="hidden" name="pin_location" id="pin_location">
                
                <label for="titulo">Título:</label>
                <input type="text" name="titulo" id="titulo" required>
                <br>

                <label for="descripcion">Descripción:</label>
                <textarea name="descripcion" id="descripcion" required></textarea>
                <br>

                <label for="gravedad">Gravedad:</label>
                <select name="gravedad" id="gravedad" required>
                    <option value=1>Baja</option>
                    <option value=2>Media</option>
                    <option value=3>Alta</option>
                </select>
                <br>

                <label for="urgencia">Urgencia:</label>
                <select name="urgencia" id="urgencia" required>
                    <option value=1>No urgente</option>
                    <option value=2>Urgente</option>
                    <option value=3>Critica</option>
                </select>
                <br>
                <input type="hidden" name="x" id="x" value="">
                <input type="hidden" name="y" id="y" value="">

                <button type="submit">Reportar</button>
            </form>
            <button onclick="closePopup()">Cerrar</button>
        </div>
    </div>

    <style>
        /* Estilo para el pin */
        .pin {
            position: absolute;
            width: 20px;
            height: 20px;
            background-color: red;
            border-radius: 50%;
            transform: translate(-50%, -50%);
        }
    </style>

    <script>
        const mapImage = document.getElementById("map-image");
        const popup = document.getElementById("popup");
        const pinLocationInput = document.getElementById("pin_location");
        const reporte = {{ reportes|safe }};

        reporte.forEach(reporte => {
            const pin = document.createElement("div");
            pin.className = "pin";
            pin.style.left = `${reporte.x}px`;
            pin.style.top = `${reporte.y}px`;
            mapImage.parentElement.appendChild(pin);
        });

        mapImage.addEventListener("click", function(event) {
            const rect = mapImage.getBoundingClientRect();
            const x = event.clientX - rect.left;
            const y = event.clientY - rect.top;

            // Mostrar pop-up
            popup.style.display = "block";
            pinLocationInput.value = `${x},${y}`;  // Guarda ubicación del pin
            document.getElementById("x").value = x;
            document.getElementById("y").value = y;

            // Crear el pin
            const pin = document.createElement("div");
            pin.className = "pin";
            pin.style.left = `${x}px`;
            pin.style.top = `${y}px`;

            // Deja el pin más reciente
            mapImage.parentElement.querySelectorAll('.pin').forEach(p => p.remove());  //deja el pin + reciente
            mapImage.parentElement.appendChild(pin);
            document.getElementById("pin_location").value=`${x},${y}`
        });

        function closePopup() {
            popup.style.display = "none";
        }
    </script>
{% endblock %}